<h1>Product List</h1>
<a class="btn" href="/product/add">Add</a>
<table class="centered">
   <tr>
      <th>Product name</th>
      <th>Product price</th>
      <th>Product image</th>
      <th>Product category</th>
      <th>Menu</th>
   </tr>
   {{#each productList }}
   <tr>
      <td>{{ name }}</td>
      <td>${{ price }}</td>
      <td>
         <img src="{{ image }}" width="100" height="100">
      </td>
      <td>{{ category.name }}</td>
      <td>
         <a class="btn orange" href="/product/edit/{{ _id }}">Edit</a>
         <a class="btn red" href="/product/delete/{{_id}}"
         onclick="return confirm('Do you want to delete this product ?')" ;>Delete</a>
      </td>
   </tr>
   {{/each}}
</table>